.root {
    composes: grid from global;
    composes: grid-cols-repeat-5-max from global;
    composes: gap-x-[1px] from global;
}

.filledStar {
    composes: text-black from global;
}

.star {
    composes: text-gray-light from global;
}
