.root {
    composes: my-5 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: grid-cols-2 from global;
    composes: lg_grid-cols-none from global;
    composes: gap-x-[5px] from global;
    composes: lg_gap-x-5 from global;
    composes: items-center from global;
    composes: justify-center from global;
}

.tiles {
    composes: hidden from global;
    composes: lg_inline-grid from global;
    composes: lg_grid-flow-col from global;
    composes: lg_gap-x-[5px] from global;
    composes: lg_items-center from global;
    composes: lg_justify-start from global;
}
