.base {
    composes: grid from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: w-[44px] from global;
    composes: h-[40px] from global;
    composes: lg_h-[44px] from global;
}

.root {
    composes: base;
    composes: secondary from '../Button/button.module.css';

    composes: !no-underline from global;
}

.root_active {
    composes: base;
    composes: base from '../Button/button.module.css';
    composes: bg-black from global;
    composes: text-white from global;
}
