.details {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: gap-[26px] from global;
    composes: justify-start from global;
    composes: font-semibold from global;

    composes: xl_gap-[36px] from global;
}

.date {
    composes: relative from global;

    composes: before_absolute from global;
    composes: before_bottom-1/2 from global;
    composes: before_h-0.5 from global;
    composes: before_w-1.5 from global;
    composes: before_-left-4 from global;
    composes: before_bg-black from global;
    composes: before_bg-opacity-40 from global;
    composes: before_rounded-px from global;
    composes: xl_before_-left-5 from global;
}
