.root {
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: gap-5 from global;

    composes: lg_grid-flow-col from global;
    composes: lg_grid-cols-checkoutContent from global;
}

.content {
    composes: pt-5 from global;

    composes: lg_pt-7.5 from global;
}
