.root {
    composes: divide-y from global;
    composes: border-t from global;
    composes: pb-17.5 from global;
    composes: overflow-y-auto from global;

    composes: lg_pb-0 from global;
    composes: lg_pr-2.5 from global;
    composes: lg_border-t-0 from global;
    composes: lg_overflow-y-scroll from global;
}

@media (max-width: 1024px) {
    .root {
        scrollbar-width: none; /* Hide scrollbar on Firefox */
    }

    /* Hide scrollbar on Chrome, Safari, Edge */
    .root::-webkit-scrollbar {
        @apply hidden;
    }
}
