.root {
    composes: grid from global;
    composes: grid from global;
    composes: gap-y-5 from global;

    composes: lg_mb-5 from global;
    composes: lg_gap-y-7 from global;
}

.group {
    composes: grid from global;
    composes: gap-y-5 from global;

    composes: lg_gap-y-7.5 from global;
}

.group:not(:first-of-type) {
    @apply pt-5 border-t border-gray-light lg_pt-7.5;
}

.title {
    composes: text-base from global;
    composes: text-black from global;

    composes: lg_text-lg from global;
}

.strong {
    composes: font-semibold from global;
}
