.eyeButton {
    composes: grid from global;
    composes: items-center from global;
    composes: h-10 from global;
    composes: w-10 from global;
}

.icon {
    composes: icon from '@app/components/Field/fieldIcons.module.css';
    composes: right-2.5 from global;
}

.iconPadding {
    composes: iconPadding from '@app/components/TextInput/textInput.module.css';
    composes: !pr-14 from global;
}
