.root {
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: gap-y-5 from global;
}

.fields {
    composes: grid from global;
    composes: grid-cols-1 from global;

    composes: xl_gap-x-5 from global;
    composes: xl_grid-cols-2 from global;
}

.hiddenInput {
    composes: hidden from global;
}

.lastFieldRoot {
    composes: root from '@app/components/Field/field.module.css';

    composes: !mb-0 from from global;
}
