.root {
    composes: root_rectangle from '@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
    composes: w-full from global;
    composes: h-[294px] from global;
    composes: rounded from global;
    composes: lg_h-[201.5px] from global;
}
