.root {
    composes: p-[14px] from global;
    composes: grid from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: h-[50px] from global;
    composes: min-w-[165px] from global;
    composes: bg-gray-light from global;
    composes: rounded from global;
    composes: outline-none from global;

    composes: lg_h-[54px] from global;
    composes: lg_min-w-[170px] from global;
}

.root_selected {
    composes: root;
    composes: !bg-black from global;
    composes: !text-white from global;
}

.root_focused {
    composes: root;
}

.content {
    composes: content from '@app/components/Button/button.module.css';

    composes: font-semibold from global;
}
