.rewardsList {
    composes: grid from global;
    composes: gap-y-2.5 from global;
}

.rewardsListItem {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-start from global;
    composes: items-center from global;
    composes: gap-x-3.75 from global;

    composes: lg_gap-x-5 from global;

    composes: first_items-start from global;
}

.rewardsIcon {
    composes: grid from global;
    composes: justify-center from global;
    composes: content-center from global;
    composes: w-10 from global;
    composes: h-10 from global;
    composes: rounded from global;
    composes: bg-primary-light from global;
    composes: text-primary from global;

    composes: lg_w-12.5 from global;
    composes: lg_h-12.5 from global;
}

.rewardTitle {
    composes: text-left from global;
}
