.stars {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-start from global;
    composes: items-center from global;
    composes: gap-x-px from global;
    composes: pointer-events-none from global;
}

.root {
    composes: stars;
    composes: relative from global;
    composes: mx-auto from global;
    composes: w-[84px] from global;
    composes: text-gray-light from global;

    composes: lg_ml-0 from global;
}

.filledStars {
    composes: stars;
    composes: absolute from global;
    composes: left-0 from global;
    composes: text-black from global;
    composes: overflow-hidden from global;
}
