.root {
    composes: grid from global;
    composes: justify-center from global;
    composes: items-center from global;
    composes: h-full from global;
}

.message {
    composes: text-base from global;
}
