.header {
    composes: header from './colorStep.module.css';

    composes: !h-[34px] from global;

    composes: lg_!h-[42px] from global; /* stylelint-disable-line */
}

.content {
    composes: content from './colorStep.module.css';

    composes: gap-1.25 from global;
    composes: !h-max from global;
    composes: grid-cols-2 from global;

    composes: md_grid-cols-3 from global;
}

.item {
    composes: root from './item.module.css';
}

.footer {
    composes: footer from './colorStep.module.css';
}
