.root {
    composes: grid from global;
    composes: grid-cols-items-1 from global;
}

.items {
    composes: mb-[10px] from global;
    composes: grid from global;
    composes: gap-x-5 from global;
    composes: gap-y-[15px] from global;
    composes: grid-cols-items-1 from global;

    composes: md_grid-cols-3 from global;
    composes: lg_gap-y-5 from global;
    composes: xl_grid-cols-4 from global;
    composes: xxl_grid-cols-5 from global;
}

.rootColumns {
    composes: rootColumns from '@app/components/ProductCard/productCard.module.css';
}

.banner {
    composes: pb-3.75 from global;
    composes: border-solid from global;
    composes: border-b from global;
    composes: border-gray-light from global;
    composes: row-start-5 from global;
    composes: row-end-auto from global;
    composes: col-span-full from global;

    composes: md_pb-0.5 from global;
    composes: md_border-none from global;
    composes: md_row-start-3 from global;
}
