.root {
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: place-content-center from global;
    composes: gap-1.25 from global;

    composes: lg_place-content-start from global;
    composes: lg_gap-2 from global;
}
