.sliderRoot {
    composes: h-[80px] from global;
    composes: lg_h-[74px] from global;

    composes: full-bleed from global;
    composes: pl-5 from global;
    composes: py-5 from global;
    composes: bg-gray-light from global;

    composes: lg_no-full-bleed from global;
    composes: lg_mb-5 from global;
    composes: lg_px-0 from global;
    composes: lg_pt-0 from global;
    composes: lg_bg-white from global;
    composes: lg_border-gray-light from global;
    composes: lg_border-b from global;
}

.sliderItem {
    composes: block from global;
    composes: py-2 from global;
    composes: px-3.75 from global;
    composes: font-semibold from global;
    composes: whitespace-nowrap from global;
    composes: no-underline from global;
    composes: bg-white from global;
    composes: rounded from global;

    composes: lg_py-[14px] from global;
    composes: lg_px-7.5 from global;
    composes: lg_bg-gray-light from global;
}
