.root {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: grid-cols-currentStorePopupInfoBlock from global;
    composes: gap-3.75 from global;
    composes: py-3.75 from global;
}

.imageRoot {
    composes: w-[140px] from global;
    composes: h-[100px] from global;
}

.image {
    composes: object-cover from global;
    composes: rounded from global;
    height: var(--height);
    width: var(--width);
}

.imagePlaceholder {
    composes: h-full from global;
    composes: w-full from global;
}

.logo {
    composes: h-5 from global;
}

.storeName {
    composes: text-xs from global;
    composes: text-black from global;
    composes: font-semibold from global;
}

.info {
    composes: grid from global;
    composes: gap-2.5 from global;
}

.address {
    composes: text-xs from global;
    composes: leading-4 from global;
}
