.title {
    composes: mb-1.25 from global;
    composes: text-xl from global;
}

.description {
    composes: mb-5 from global;
    composes: leading-7 from global;

    composes: lg_leading-6 from global;
}
