.root {
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: lg_grid-flow-col from global;
    composes: auto-rows-fr from global;
    composes: lg_auto-cols-fr from global;
    composes: gap-1.25 from global;
    composes: lg_gap-2.5 from global;
    composes: mt-5 from global;
    composes: lg_mt-7.5 from global;
}
