.root {
    composes: relative from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: auto-cols-fr from global;
    composes: gap-1.5 from global;
}

.hiddenInput {
    composes: hidden from global;
}
